.product-details-image img {
  width: 400px;

  height: 400px;
  margin-bottom: 50px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .product-details-image img {
    width: 1000px;

    height: 600px;
    margin-top: -70px;
  }
}
